.subtitle {
  padding: 0 10px;
  font: {
    size: 32px;
    weight: 100;
  }
  color: white;
  background-color: black;
  transform: skew(-10deg);

  display: flex;

  white-space: nowrap;

  overflow: hidden;

  animation: blind ease-in-out 10s infinite;
}

@keyframes blind {
  0% {
    width: 0px;
  }
  10% {
    width: 1000px;
  }
  80% {
    width: 1000px;
  }
  100% {
    width: 0px;
  }
}