@import '../../app/App.scss';

.container {
  padding-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: $primary;
}

.container:last-child {
  margin-right: 0px;
}

.title {
  color: $secondary-text;
  border-radius: 5px;
}

.subtitle {
  padding: 2px 10px;
  margin-left: 10px;
  background-color: $success;
  border-radius: 5px;

  &.error {
    background-color: $error;
  }
}
