@import '../../app/App.scss';

.title {
  padding: 0 10px;
  margin-right: 10px;
  border-radius: 5px;
  font: {
    size: 32px;
    weight: 100;
  }
  color: $primary-text;
  background-color: $secondary;
  transform: skew(-10deg);
}
