.main {
  position: relative;
  width: 1920px;
  height: 1080px;

  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;

  clip-path: polygon(
    1453px 0,
    0 0,
    0 56px,
    1447px 56px,
    1447px 1080px,
    1920px 1080px,
    1920px 350px,
    1453px 350px
  );

  animation: gradient 60s ease-in-out infinite;
}

.header {
  position: absolute;
  width: 1427px;
  height: 36px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
